.card {
   position: relative;
   width: 100%;
   height: 100%;
   
}
.card-wrapper{
    height: 220px;
    width: 190px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.label-top {
    position: absolute;
    transform: rotate(41deg);
    right: -35px;
    background: green;
    top: 7px;
    width: 130px;
    padding: 13px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    font-size: 19px;
}
.label-bottom {
    position: absolute;
    bottom: -87px;
    background-color: red;
    transform: rotate(-51deg);
    height: 230px;
    width: 116px;
    left: -15px;
}
