.menu-wrapper {
    max-width: 200px;
    position: relative;
    color: #fff;
    &:hover {
        .links {
            opacity: 1;
        }
    }
    .links {
        position: absolute;
        bottom: -105px;
        width: 200px;
        left: 0;
        opacity: 0;
        transition: ease 0.5s;
    }
}
