header{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 100px;
}
.setup{
    .adding-options{
        display: flex;
        flex-wrap: wrap;
        .option-item{
            display: flex;
            margin-right: 10px;
            margin-bottom: 10px;
            .btn-group{
                margin-left: 5px;
            }
        }
    }
}
.form-check{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    .form-check-input{
        margin-top: 0;
    }
}
.submit-row{
    margin-top: 30px;
}